<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FFWS Kota Surakarta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" rel="stylesheet" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        a {
            color: #ac0c0c !important;
        }
        img.merah { filter: hue-rotate(120deg); }
        img.kuning { filter: hue-rotate(160deg); }
        img.hijau { filter: hue-rotate(270deg); }
        img.abuabu { filter: grayscale(100%); }
    </style>
  </head>
  <body>{% set page = "map" %}
    <div class="container-fluid fixed-top bg-light ">
        <header class="d-flex flex-wrap align-items-center justify-content-md-between py-3 border-bottom">
            <div class="col-md-3 mb-md-0">
              <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                FFWS Kota Surakarta
              </a>
            </div>
            {% set navbar = [
                ('/', 'index', 'Home'),
                ('/map', 'map', 'Peta'),
                ('/alert', 'alert', 'Siaga'),
                ('/about', 'about', 'About')
            ] -%}
      
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                {% for href, id, title in navbar %}
                <li><a {% if id== page %}style="border-bottom: solid 2px;"{% endif %}href="{{ href|e }}" class="nav-link px-2">{{ title|e }}</a></li>
                {% endfor %}
            </ul>
      
            <div class="col-md-3 text-end">
            </div>
          </header>    
    </div>
    <div class="leaflet-map" style="height: 100vh"  id="map"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
    const map = L.map('map').setView([-7.5703277,110.7833677], 13);
    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
        maxZoom: 18
    }).addTo(map);

    const jtkn = L.marker([-7.593981, 110.826119])
    jtkn.addTo(map)
        .bindPopup('Joyotakan');
    jtkn._icon.classList.add("merah");

    const gdkn = L.marker([-7.574947, 110.838749]);
    gdkn.addTo(map).bindPopup('Gandekan');
    gdkn._icon.classList.add("kuning");

    const kdbl = L.marker([-7.572408, 110.849933]);
    kdbl.addTo(map).bindPopup('Kedungbelang');
    kdbl._icon.classList.add("abuabu");

    </script>
  </body>
</html>