{% extends 'base.html' %}
{% set page = "index" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Status <span class="text-success">Aman</span></h1>
        </div>
        <div class="col"><h2>Tidak terjadi hujan saat ini</h2></div>
    </div>
    <div class="row mt-5">
        <div class="col"><h2>Prakiraan Cuaca</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Boyolali
                </div>
            </div></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Klaten
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Wonogiri
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Sukoharjo
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"><h2>Status Peralatan</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Joyotakan
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Gandekan
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Kedung Belang
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}