{% extends 'base.html' %}
{% set page = "index" %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
    const ch = {{ ch|safe }}
    const tma = '';
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row py-5 my-5">
        <div class="col-sm-6">
            <h1>Status <span class="text-success">Aman</span></h1>
            <p class="fw-light text-body-tertiary">Aman jika tidak sedang hujan deras di beberapa lokasi sebelah barat dan selatan kota Surakarta</p>
        </div>
        <div class="col-sm-6"><h2>Tidak terjadi hujan saat ini</h2></div>
    </div>
    <div class="row mt-5">
        <div class="col"><h2>Prakiraan Cuaca</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    Boyolali
                </div>
            </div></div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    Klaten
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    Wonogiri
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    Sukoharjo
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"><h2>Status Peralatan</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-4">Joyotakan</h6> 
                    <ul>
                        <li><i class="bi bi-battery"></i>
                          Aki: {{ poses.joyotakan.latest_battery }}</li>
                        <li>terakhir: {{ poses.joyotakan.latest_sampling }}</li>
                    </ul>, 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Gandekan
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    Kedung Belang
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}